/**
 * Webian Shell Style Sheet.
*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}

body {
  font-family: Helvetica, Sans-serif;
  background-color: #000;
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
  display: flex;
  flex-direction: column;
}

/* Window Manager */

#windows {
  flex: 1;
  overflow: hidden;
}

/* Browser Window */

.browser-window {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #666;
  border-radius: 0.5rem;
  border: solid #666 0.5rem;
}

.browser-window.hidden {
  display: none;
}

.close-window-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/close.png");
  background-position: center center;
  background-repeat: no-repeat;  
}

.close-window-button:hover {
  background-image: url("../images/close-hover.png");
}


.close-window-button:active {
  background-image: url("../images/close-active.png");
}

/* Browser Tab */

.tab-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
}

.browser-tab {
  height: 3rem;
  flex: 1;
  max-width: 30rem;
  background-color: #e5e5e5;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* Browser Tab Panel */

.tab-panels {
  flex: 1;
}

.browser-tab-panel {
  background-color: #e5e5e5;
  height: 100%;
}

/* System Toolbar */
#system-toolbar {
  display: flex;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

#window-controls {
  height: 3rem;
  padding: 0;
  margin: 0;
  flex: 1;
}

#window-switcher {
  display: inline;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: auto;
  float: left;
}

.window-selector {
  width: 3rem;
  height: 2.6rem;
  background-color: #333;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
  margin: 0 0.2rem;
  padding: 0;
}

.window-selector:hover {
  background-color: #444;
}

.window-selector:active {
  background-color: #666;
}

.window-selector.selected {
  background-color: #666;
}

#new-window-button {
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/new.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#new-window-button:hover {
  background-image: url("../images/new-hover.png");
}

#new-window-button:active {
  background-image: url("../images/new-active.png");
}

#clock {
  font-size: 1.3rem;
  line-height: 30px;
  padding: 0 10px;
}
