/**
 * Webian Shell Style Sheet.
*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}

body {
  font-family: Helvetica, Sans-serif;
  background-color: #000;
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
  display: flex;
  flex-direction: column;
}

/* Prevent dotted outlines on buttons */
button::-moz-focus-inner {
  border: 0;
}

/* Window Manager */

#windows {
  flex: 1;
  overflow: hidden;
}

/* Browser Window */

.browser-window {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.browser-window.hidden {
  display: none;
}

.close-window-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/close-light.png");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.close-window-button:hover {
  opacity: 0.75;
}


.close-window-button:active {
  opacity: 1;
}

/* Browser Tab */

.tab-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  width: calc(100% - 3rem);
  height: 3rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.browser-tab {
  display: flex;
  flex-direction: row;
  height: 3rem;
  flex: 1;
  min-width: 6rem;
  max-width: 30rem;
  border-left: solid 1px #4d4d4d;
  box-sizing: border-box;
}

.browser-tab:last-of-type {
  border-right: solid 1px #4d4d4d;
}

.browser-tab:first-child, .browser-tab.selected + .browser-tab {
  border-left: none;
}

.browser-tab.selected {
  background-color: #5d5d5d;
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

.tab-title {
  flex: 1;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  -moz-user-select: none;
}

.close-tab-button {
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/close-light.png");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.close-tab-button:hover {
   opacity: 0.75;
}

.close-tab-button:active {
   opacity: 1;
}

.new-tab-button {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/new.png");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.new-tab-button:hover {
  opacity: 0.75;
}

.new-tab-button:active {
  opacity: 1;
}

/* Browser Tab Panel */

.tab-panels {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.browser-tab-panel {
  background-color: #5d5d5d;
  flex: 1;
  flex-direction: column;
  display: none;
  border-radius: 0.5rem;
}

.browser-tab-panel:first-child {
  border-top-left-radius: 0;
}

.browser-tab-panel.selected {
  display: flex;
}

.browser-tab-frame {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.browser-tab-panel:first-child .browser-tab-frame {
  border-top-left-radius: 0;
}

.browser-toolbar {
  height: 3.6rem;
  margin: 0;
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.url-bar {
  height: 2.2rem;
  flex: 1;
  border: 0;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin-right: -0.5rem;
  margin-left: -0.2rem;
}

.url-bar:disabled {
  background-color: #ccc;
}

/* System Toolbar */
#system-toolbar {
  display: flex;
  width: 100%;
  height: 3.2rem;
  margin: 0;
  padding: 0;
  color: #aaa;
}

#window-controls {
  height: 3.2rem;
  padding: 0;
  margin: 0;
  flex: 1;
}

#window-switcher {
  display: inline;
  margin: 0;
  padding: 0;
  height: 3.2rem;
  width: auto;
  float: left;
}

.window-selector {
  width: 3.2rem;
  height: 3rem;
  background-color: transparent;
  background-image: url("../images/browser-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  margin: 0 0.2rem;
  padding: 0;
  border-bottom: solid 2px transparent;
}

.window-selector:hover {
  border-bottom: solid 2px #666;
}

.window-selector:active {
  border-bottom: solid 2px #fff;
}

.window-selector.selected {
  border-bottom: solid 2px #ccc;
}

#new-window-button {
  height: 3.2rem;
  width: 3.2rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/new.png");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

#new-window-button:hover {
  opacity: 0.75;
}

#new-window-button:active {
  opacity: 1;
}

#clock {
  font-size: 1.3rem;
  line-height: 3.2rem;
  padding: 0 1rem;
  user-select: none;
  -moz-user-select: none;
}
