/**
 * Webian Shell presentation.
*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}

body {
  font-family: Helvetica, Sans-serif;
  background-color: #000;
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
  display: flex;
  flex-direction: column;
}

/* Window Manager */

#windows {
  flex: 1;
  overflow: hidden;
}

/* App Window */

.app-window {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #666;
  border-radius: 0.5rem;
}

.app-window.hidden {
  display: none;
}

/* System Toolbar */
#system-toolbar {
  display: flex;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

#window-controls {
  height: 3rem;
  padding: 0;
  margin: 0;
  flex: 1;
}

#window-switcher {
  display: inline;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: auto;
  float: left;
}

.app-window-button {
  width: 3rem;
  height: 2.6rem;
  background-color: #333;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
  margin: 0 0.2rem;
  padding: 0;
}

.app-window-button.selected {
  background-color: #666;
}

#new-window-button {
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/new.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#clock {
  font-size: 1.3rem;
  line-height: 30px;
  padding: 0 10px;
}
