.tile {
  display: block;
  width: 12.8rem;
  height: 12.8rem;
  background-color: #fff;
  color: #333;
  text-align: center;
  float: left;
  margin-left: 0;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6.4rem;
}

.tile .tile-name {
  display: inline-block;
  margin-top: 11rem;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile.dark .tile-name {
  color: #fff;
}

.tile.pinned .tile-name {
  padding-left: 1.1rem;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../images/pin-dark.png');
  background-size: auto 1rem;
}

.tile.pinned.dark .tile-name {
  background-image: url('../images/pin-light.png');
}
