body {
  text-align: center;
}

#search-bar {
  box-sizing: border-box;
  width: 60%;
  height: 2.4rem;
  margin: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.16);
  border: none;
  color: white;
}
