html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

#search-bar {
  box-sizing: border-box;
  width: 60%;
  height: 3.2rem;
  margin: 5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.16);
  border: none;
  color: white;
}

#app-grid {
  padding: 0 5rem;
  margin: 0;
}
